# Xcode
build/
DerivedData/
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM

# User data
*.xcuserstate
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Distribution
*.dmg
*.pkg

# Temporary files
*.swp
*~
